*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	max-width: 1200px;
	background-color: black;
}


.gif{
	display: flex;
	height: 100vh;
	align-items: center;
}

.container{
	margin: -100px 0 0 10px;
}

.timer{
	color: white;
	font-size: 50px;
	text-align: center;
	margin-bottom: 5px;
	width: 200px;
	margin: 20px 0 0 330px;
}

.active{
	color: white;
	font-size: 30px;
	padding: 5px 70px;
	margin: 10px 0 20px 315px;
	width: 231px;
	background: blueviolet;
	text-align: center;
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
}

.active:hover{
	background-color: #fff;
	color:black
}

.qweqweqwe{
	display: flex;
}

.adressActive{
	color: white;
	font-size: 20px;
	width: 600px;
	margin-left: 120px;
	word-wrap: break-word;
}

/* .container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.board{
	background: url('https://nerdscnft.io/static/chalkboard-596e9481c7c501c31fa84c8bbf67fee6.png') center no-repeat;
	height: 638px;
	width: 1081px;
	position: relative;
}

.buyButton{
	font-size: 24px;
	font-weight: 700;
	padding: 10px 25px;
	color: #5100A8;
	background-color: #fff;
	border: none;
	border-radius: 6px;
	margin: 280px 0 80px 0;
	cursor: pointer;
}

.ppp{
	color: white;
	font-size: 26px;
	font-weight: 500;
}

.span{
	font-size: 30px;
	font-weight: 900;
}

.address{
	padding: 60px 30px 30px 30px;
	text-align: left;
	color: white;
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 638px;
	width: 1081px;
	/* background-color: green; */
	/* background: url('https://nerdscnft.io/static/chalkboard-doodles-00286d08589cf369473ba567341bab0b.png'),
	url('https://nerdscnft.io/static/chalkboard-bg-c375d7eece79bd1f234e2b6e7a066611.png') center no-repeat;
} */

.addressActive{
	display: block;
}

h1{
	margin-bottom: 30px;
}

.address p{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
}

.address123{
	color: black;
	background-color: white;
	width: 800px;
	word-wrap: break-word;
}

.divdiv{
	border: 5px solid white;
	font-size: 22px;
	font-weight: bold;
	padding: 10px 15px;
	width: 680px;
	margin-bottom: 15px;
}

.ppppppppp{
	font-size: 16px;
}

@media (max-width: 1000px) {
	.gif img {
		display: none;
	}
}